{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    <img src="../static/26086286.jpg" width="100" height="120"/><br />
    Miguel Angel Blanco Fernandez <br />
    Estudiante en la UPV/EHU <br />
    Facultad de Informatica<br />
    San Sebastian<br />
    <strong>GitHub:</strong> <a href="https://github.com/FosterGun">FosterGun</a><br />
</address>

<address>
    <img src="../static/25902084.png" width="100" height="120"/><br />
    Joseba Merino Pina <br />
    Estudiante en la UPV/EHU <br />
    Facultad de Informatica<br />
    San Sebastian<br />
    <strong>GitHub:</strong> <a href="https://github.com/Yosiunico">Yosiunico</a><br />
</address>

{% endblock %}
